.Presentation {
  .presentation-container{
    display: grid;
    grid-template-columns: 1fr 0 2fr;
    grid-gap: 25px;
    height: 100vh;
    margin: 25px 0;
    img{
      justify-self: center;
    }
    .clip-svg {
      clip-path: url(#myClip);
    }
    .presentation-text {
      color: white;
    }
  }
}
