.Box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  .box-parent {
    cursor: pointer;
    overflow: hidden;
    .box-child {
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
        opacity: 0.8;
      }
    }
  }
}
