.Header-bar{
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: auto 25%;
    width: 100%;
    z-index: 999;
    padding: 0;
    .bar-logo{
        color: white;
        font-size: 24px;
        font-weight: 900;
    }
    .Menu-bar{
        width: 100%;
    }
}