.Cart-detail {
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 5% 0 0 0;
  .cart-list {
    display: flex;
    flex-direction: column;
    .cart-product {
      display: flex;
      label {
        margin-right: 15px;
      }
      button{
        margin-left: 15px;
      }
    }
  }
  .cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      margin-left: 25px;
    }
  }
}
