.Presentation {
  grid-area: presentation;
  display: grid;
  grid-template-areas: "photo text";
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  width: 100%;
  height: 100vh;
  // .presentation-photo {
  //   align-self: center;
  //   justify-self: center;
  //   grid-area: photo;
  //   background-image: url("https://scontent.faep6-1.fna.fbcdn.net/v/t1.18169-9/18767615_10211380631344498_654244150846600549_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=174925&_nc_eui2=AeEtqOz2tTISvidL-XJzDFD4m5kp53d3i7-bmSnnd3eLv07zR5cmQ-3tZqxxKu3FBqw&_nc_ohc=94pv0eeD5roAX9uWmX3&_nc_oc=AQkEK4hunwd8U1DXHWFHieFBnP4gsjOB9DqbQWz5G2SS34eWaZ6Nk884KqqN7RBXd-KuZ9GXfRjiqpI0ceBAj5-p&tn=ZwhkFbvTGquUkJi7&_nc_ht=scontent.faep6-1.fna&oh=3f77064cad34d4ded1bc5543f1152bde&oe=60C589D7");
  //   background-size: cover;
  //   background-position: center;
  //   width: 100%;
  //   height: 75%;
  //   border-radius: 4000px;
  // }
  .clip-svg {
    clip-path: url(#myClip);
  }
  .presentation-text {
    grid-area: text;
    color: white;
    align-self: center;
    justify-self: center;
  }
}
